body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #000428, #004e92);
    overflow: hidden;
}

.container {
    display: flex;
    width: 90%;
    height: 90%;
    align-items: flex-start;
}

.side-palette {
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.palette-control {
    margin: 10px 0;
    width: calc(100% - 40px); 
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 80%; 
    height: 100%;
}

#canvas {
    border: 1px solid #000;
    background-color: white;
    width: 100%;
    height: 85%; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.palette-button {
    width: calc(100% - 40px); 
    margin: 10px 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #004e92;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.palette-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05); 
}

.text-white {
    color: white;
}

.form-control, .form-control-range {
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.form-control:hover, .form-control-range:hover {
    background-color: #e0e0e0; 
    transform: scale(1.05); 
}

.marquee-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee-scroll 5s linear infinite;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.marquee p {
    transform: rotate(90deg);
    font-size: 1.5em;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.marquee p:hover {
    color:  #004e92;
    cursor: none;
}

@keyframes marquee-scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

